// @import '~@angular/material/theming';
// @include mat-core();
// @include angular-material-theme($your-theme);

.example-spacer {
    flex: 1 1 auto;
  }
  main-body{
    padding-top: 20px;
    margin: 0 auto;
    width:1248px;
    mat-form-field{
      width: 100%;
    }
  }


  